@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
  margin: 0;
   user-select: none;
   font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    linear-gradient(to right, rgba(0, 49, 53, 0.9), rgba(0, 49, 53, 0.3)),
    /* Gradient transparency */
    url('Assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}